html, body {
  margin: 0;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}